@import "../../common/styles/mixins";

@keyframes button-loading-spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes button-hover-animation {
  from {
    width: 1px;
    height: 1px;
    transform: scale(0);
    opacity: 1;
  }
  to {
    width: 1px;
    height: 1px;
    transform: scale(25);
    opacity: 0;
  }
}

.pui-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.645, .045, .355, 1); // 从开始到结束的不同速度过渡效果
  &:hover &-ripple {
    animation: button-hover-animation 1s;
  }

  &:focus, &:hover {
    outline: none;
    z-index: 1;
  }

  &-text {
    font-size: inherit;
    line-height: inherit;
  }

  &-ripple {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: $white;
    opacity: 1;
  }

  &-icon {
    &.small {
      width: 12px;
      height: 12px;
    }

    &.medium {
      width: 14px;
      height: 14px;
    }

    &.large {
      width: 16px;
      height: 16px;
    }
  }

  &.p-left {
    .pui-button-icon {
      margin-right: 2px;
      order: 1;
    }

    .pui-button-text {
      order: 2;
    }
  }

  &.p-right {
    .pui-button-icon {
      margin-left: 2px;
      order: 2;
    }

    .pui-button-text {
      order: 1;
    }
  }

  &.p-small {
    font-size: 12px;
    line-height: 20px;
    padding: 2px 10px;
  }

  &.p-medium {
    font-size: 14px;
    line-height: 22px;
    padding: 4px 15px;
  }

  &.p-large {
    font-size: 16px;
    line-height: 24px;
    padding: 6px 15px;
  }

  &.p-dashed {
    border-style: dashed;
  }

  &.p-primary, &.p-success, &.p-warning, &.p-danger {
    color: $white;
  }

  &.p-default, &.p-dashed {
    color: rgba(0, 0, 0, 0.65);
    background-color: $white;
    border-color: rgba(0, 0, 0, 0.15);

    &:hover, &:focus {
      color: lighten($theme-color, 10%);
      border-color: lighten($theme-color, 10%);
    }

    &.ghost {
      color: $white;
      background-color: transparent;
      border-color: $white;

      &:hover, &:focus {
        color: lighten($theme-color, 10%);
        border-color: lighten($theme-color, 10%);
      }
    }
  }

  &.p-primary {
    background-color: $theme-color;
    border-color: $theme-color;

    &:hover, &:focus {
      background-color: lighten($theme-color, 10%);
      border-color: lighten($theme-color, 10%);
    }

    &.ghost {
      color: $theme-color;
      background-color: transparent;

      &:hover, &:focus {
        color: lighten($theme-color, 10%);
        border-color: lighten($theme-color, 10%);
      }
    }
  }

  &.p-success {
    background-color: $success;
    border-color: $success;

    &:hover, &:focus {
      background-color: lighten($success, 10%);
      border-color: lighten($success, 10%);
    }

    &.ghost {
      color: $success;
      background-color: transparent;

      &:hover, &:focus {
        color: lighten($success, 10%);
        border-color: lighten($success, 10%);
      }
    }
  }

  &.p-warning {
    background-color: $warning;
    border-color: $warning;

    &:hover, &:focus {
      background-color: lighten($warning, 10%);
      border-color: lighten($warning, 10%);
    }

    &.ghost {
      color: $warning;
      background-color: transparent;

      &:hover, &:focus {
        color: lighten($warning, 10%);
        border-color: lighten($warning, 10%);
      }
    }
  }

  &.p-danger {
    background-color: $danger;
    border-color: $danger;

    &:hover, &:focus {
      background-color: lighten($danger, 10%);
      border-color: lighten($danger, 10%);
    }

    &.ghost {
      color: $danger;
      background-color: transparent;

      &:hover, &:focus {
        color: lighten($danger, 10%);
        border-color: lighten($danger, 10%);
      }
    }
  }

  &.disabled {
    color: rgba(0, 0, 0, 0.25);
    background-color: $disable;
    border-color: rgba(217, 217, 217, 1);
    cursor: not-allowed;

    &:hover {
      color: rgba(0, 0, 0, 0.25);
      background-color: $disable;
      border-color: rgba(217, 217, 217, 1);
    }
  }

  .loading {
    animation: button-loading-spin 1s linear infinite;
  }
}