$theme-color: #337ab7;
$theme-color-hover: #1890ff;
$success: #5cb85c;
$success-hover: #52c41a;
$warning: #f0ad4e;
$warning-hover: #faad14;
$danger: #b71c25;
$danger-hover: #f5222d;
$default: #000000A5;
$disable: #e6e6e6;
$white: #ffffff;