$theme-color: #337ab7;
$theme-color-emphasize: #1890ff;
$success: #5cb85c;
$success-emphasize: #52c41a;
$warning: #e0a148;
$warning-emphasize: #faad14;
$danger: #b71c25;
$danger-emphasize: #f5222d;
$default: #000000A5;
$disable: #e6e6e6;
$white: #ffffff;